.about {
    height:350px;
    text-align:center;
    width:100%;
    font-family:'Nanum Gothic', sans-serif;
}

img#sparlor {
    position: absolute;
    left:50px;
    padding-top:30px;
    z-index:-1;
}

p#aboutContent {
    width: 800px;
    text-align: left;
    margin: 105px 60px 0px auto;
    line-height: 35px;
}

h1#aboutContent {
    width:800px;
    text-align:left;
    margin: 0px 60px 0px auto;
    position: relative;
    top:90px;
    letter-spacing: 5px;
}


@media handheld, screen and (max-width: 900px) {    
    .about {
        height:700px;
    }

    img#sparlor {
        position: inherit;
    }

    h1#aboutContent {
        text-align:center;
        width:100%;
        margin:0px;
        top:0px;
        border-bottom:1px solid #ccc;
        padding-bottom:15px;
    }

    p#aboutContent {
        width:100%;
        text-align:center;
        margin:0px;
        padding-top:15px;
    }
}