.about {
    height:350px;
    text-align:center;
    width:100%;
    font-family:'Nanum Gothic', sans-serif;
}

img#sparlor {
    float: left;
    padding: 20px 60px 0px 60px;
    z-index:-1;
}

p#aboutContent {
    width: 90%;
    text-align: left;
    line-height: 35px;
}

h1#aboutContent {
    width: 90%;
    text-align:left;
    letter-spacing: 5px;
    padding-top:90px;
    margin:0px;
}


@media handheld, screen and (max-width: 900px) {    
    .about {
        height:auto;
        padding-bottom:15px;
    }

    img#sparlor {
        position: inherit;
        padding:0px;
        float:none;
        width:60%;
        padding:20px;
    }

    h1#aboutContent {
        text-align:center;
        width:100%;
        margin:0px;
        top:0px;
        border-bottom:1px solid #ccc;
        padding-bottom:15px;
        padding-top:0px;
    }

    p#aboutContent {
        width:100%;
        text-align:center;
        margin:0px;
        padding-top:15px;
    }
}