.contact {
    height:350px;
    background-color:#212529;
    color:white;
    font-family: 'Nanum Gothic', sans-serif;
    width:100%;
    text-align:center;
    text-transform:uppercase;
}

h1#heading {
    margin:0px !important;
    padding-top:20px;
}