.header {
    background-image: url('../images/s_wall.jpg');
    background-size:cover;
    height:350px;
    background-position: center !important;
    /*background-attachment: fixed;*/
    background-repeat:no-repeat;

}

@media handheld, screen and (max-width: 440px) {    
    .header {
        width: 100%;
        z-index: -2;
        background-size: cover;
      }

}

