.projectHeading h1 {
    text-align:center;
    background-color: #212529;
    color:white;
    font-family: 'Nanum Gothic', sans-serif;
}

.projects {
    height:auto;
    position: relative;
    background-color:#212529;
    text-align: left;
    font-family:'Nanum Gothic', sans-serif;
    color:white;
    padding:10px 10px;
}

.content {
    display: inline-block;
    position: relative;
    width: 40%;
    height: auto;
    vertical-align: top;
    left:30px;
    padding:15px 15px;
}

.imgDiv {
    display:inline-block;
    width: auto;
}

img#projectImage {
    position:relative;
    display:inline-block;
    width: auto;
}

p#listSummary {
    position: relative;
    text-align: left;
    line-height: 30px;

}

a#projectLink {
    text-decoration:none;
    color:lightgray;
    filter:grayscale(100%);
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

a#projectLink:hover {
    color:white;
    font-weight:bold;
    filter:grayscale(0%);
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

button#projectButton {
    display:block;
    color: white;
    width: 30%;
    height: 40px;
    display: block;
    align-items: center;
    border: 1px solid #ccc;
    background-color: #666;
    text-transform:uppercase;
    font-family: 'Nanum Gothic', sans-serif;
}


@media handheld, screen and (max-width: 900px) {    
    img#projectImage {
        display:none;

    }

    h1#appHeading {
        width:100%;
        text-align: center;
        display: block;
        position: inherit;
        border-bottom:1px solid #ccc;
        padding-bottom:15px;
    }

    p#listSummary {
        margin:0px;
        text-align: center; 
        position: inherit;
        width:100%;
   }

   button#projectButton {
       display:block;
       color: white;
       width: 40%;
       height: 40px;
       display: block;
       align-items: center;
       margin: 15px auto;
       border: 1px solid #ccc;
       background-color: #666;
       text-transform:uppercase;
       font-family: 'Nanum Gothic', sans-serif;

   }

   .content {
    display: block;
    position: relative;
    width: auto;
    height: auto;
    left:0px;
    padding:0px;
}
}