.skill-set {
    background-color:white;
    height:auto;
    min-height:350px;
}

.fab {
    font-size:6vw;
    width:17%;
    margin:30px auto;
}

#icon {
    width:7%;
    padding:20px 50px;
}

.icon-area {
    margin:0px auto;
    width:90%;
    text-align:center;
}

#heading {
    text-align:center;
    font-family:'Nanum Gothic', sans-serif;
    text-transform:uppercase;
}

/*icon hovering*/

i.fab.fa-react:hover {
    color:#61dafb;
}

i.fab.fa-java:hover {
    color:#E72E35;

}

i.fab.fa-python:hover {
    color:#649dcb;
}


i.fab.fa-js:hover {
    color:#e80a89;

}

i.fab.fa-node:hover {
    color:#026e00;
}

i.fab.fa-jenkins:hover {
    color:#D13A39;

}

i.fab.fa-css3:hover {
    color:#0E65AF;

}

i.fab.fa-linux:hover {
    color:#FABF2D;

}

i.fab.fa-windows:hover {
    color:#0067b8;

}

i.fab.fa-apple:hover {
    color:#666666;
}

i.fab.fa-vuejs:hover {
    color:#47B784;
}

i.fab.fa-html5:hover {
    color:#E24E30;
}









span#text {
    font-size: 15px;
    display: block;
    font-family:'Nanum Gothic', sans-serif;
}


@media handheld, screen and (max-width: 900px) {    
    #icon {
        width:15%;
        padding:20px 20px;
    }

    div#skill {
        min-height:350px;
        height:auto;
    }

    .fab {
        font-size:15vw;
        width:30%;
        margin:30px auto;
    }

    i.fab.fa-react {
        color:#61dafb;
    }
    
    i.fab.fa-java {
        color:#E72E35;
    
    }
    
    i.fab.fa-python {
        color:#649dcb;
    }
    
    
    i.fab.fa-js {
        color:#e80a89;
    
    }
    
    i.fab.fa-node {
        color:#026e00;
    }
    
    i.fab.fa-jenkins {
        color:#D13A39;
    
    }
    
    i.fab.fa-css3 {
        color:#0E65AF;
    
    }
    
    i.fab.fa-linux {
        color:#FABF2D;
    
    }
    
    i.fab.fa-windows {
        color:#0067b8;
    
    }
    
    i.fab.fa-apple {
        color:#666666;
    }
    
    i.fab.fa-vuejs {
        color:#47B784;
    }
    
    i.fab.fa-html5 {
        color:#E24E30;
    }
}